<history-router-app>
  <router base={props.base} onStarted={onStarted}>
    <route path="/">
      <p>Hello</p>
    </route>
    <route path="/goodbye/:user">
      <user name={route.params[0]}/>
    </route>
  </router>

  <script>
    import { Router, Route } from '../../src'
    import User from './user.riot'

    export default {
      components: {
        Router,
        Route,
        User
      },
      onStarted(currentRoute) {
        this.isRouterStarted = true
        this.currentRoute = currentRoute
      }
    }
  </script>
</history-router-app>