<nested-updates>
  <router>
    <user name={state.name} update-name={updateName}/>
  </router>
  <script>
    import User from './user.riot'
    import { Router, Route } from '../../src/index.js'

    export default {
      components: {
        Router,
        Route,
        User
      },
      state: {
        name: 'hello'
      },
      updateName() {
        this.update({
          name: 'goodbye'
        })
      }
    }
  </script>
</nested-updates>
