<same-route-matches>
  <router>
    <route path="(.*)">
      <p>{state.message}</p>
    </route>
  </router>

  <script>
    import { Router, Route } from '../../src/index.js'

    export default {
      components: {
        Router,
        Route,
      },
      state: {
        message: 'hello',
      }
    }
  </script>
</same-route-matches>
