<app>
  <router>
    <nav>
      <a href="/hello">Hello</a>
      <a href="/user">User</a>
      <a href="/user/gianluca">Username</a>
      <a href="/goodbye">goodbye</a>
    </nav>
    <route path="/hello">hello</route>
    <route path="/user">user</route>
    <route path="/user/:username">
      <user username={route.params[0]}></user>
    </route>
    <route path="/goodbye">goodbye</route>
  </router>
</app>